#visor{
    background-color: lightgray;

    width: 20vw;
    height: 6vh;

    border-radius: 0.3vw;

    margin-top: 5vh;

    display: flex;
    justify-content: end;
    align-items: center;
    
}
#numeral{
    font-size: 5vh;
    
    margin-right: 1vw;
}